@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background-color: black;
    }

h2, h3{
    font-family:  'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #E1BF01;
}

p {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 4px;
    color: white;
}

/* Header */

#logo{
    float: left;
    font-size: 280%;
    padding-bottom: 20px;
  }
  
  #menu{
    font-family: 'Quicksand', sans-serif;
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    color: white;
  }

  #logo, #menu{
    line-height: 30px;
  }
  
  #menu li{
    float: right;
    margin-right: 30px;
    padding-top: 20px;
  }
  
  #menu a{
    text-decoration: none;
    color: inherit;
  }
  
  #menu a:hover{
    border-bottom: 1px solid #FFFFFF;
  }
  
  .active {
    border-bottom: 1px solid #FFFFFF;
  }

/* Index hero section */

  #hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#hero {
    height: 800px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#hero-content, #hero-content h2 {
    color: #ffffff;
}

#hero-content {
  font-size: 110%;
  font-family:  'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 500px;
  padding: 40px 20px; 
  background: rgba(212, 175, 55, 0.7);
  position: absolute;
  bottom: 30px; 
  left: 50px;  
}

/* Content section */

.content-section {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  height: 1000px; 
  padding: 20px; 
}


.text-content h2 {
  color: white;
  font-family:  'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 3rem; 
  margin: 0;
}

.text-content {
  flex: 1; 
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding-left: 50px;
}

.image-content {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  flex: 1; 
  height: 100%; 
}

.image-content img {
  width: 100%; 
  height: 50%;
  object-fit: cover;
}

/* Footer */

footer {
  font-family: 'Quicksand', sans-serif;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 20px; 
}


.f-menu {
  list-style: none; 
  padding-left: 100px;
  margin: 0; 
}

.f-menu li {
  margin-bottom: 10px; 
}

.f-menu a {
  color: white; 
  text-decoration: none; 
}

.f-menu a:hover {
  text-decoration: underline; 
}

.social-networks {
  display: flex; 
  list-style: none; 
  margin: 0; 
}

.social-networks li {
  margin-left: 15px; 
}

.social-networks a {
  color: white; 
  font-size: 24px;
  text-decoration: none; 
}

.social-networks a:hover {
  text-decoration: underline; 
}

/* Clearfix for header */

header::after {
  content: "";
  display: table;
  clear: both; 
}

/* Clubs Title */

#clubs-title {
  text-align: left; 
  margin: 20px 0 20px 60px;    
  clear: both;      
}

#clubs-title h2 {
  color: white;
  font-size: 80px;
}

/* Clubs content */

#clubs-content {
  display: flex;
  flex-direction: column; 
}

#clubs-content > div {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px; 
}

#clubs-info {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  flex: 1; 
}

#clubs-content h3 {
  font-size: 45px;
  color: white;
  margin: 0; 
}

#clubs-content p {
  margin: 5px 0 0 0; 
  letter-spacing: 0px;
}

#clubs-content img {
  width: 50%; 
  height: auto; 
  margin-left: 20px; 
}

/*Members hero image */

#member-hero {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#member-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
}

#member-hero-content {
  position: absolute;
  bottom: 50px; 
  left: 50px;  
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 20px;
}

#member-hero-content h2 {
  margin: 0; 
  font-family: 'Roboto', sans-serif; 
  color: rgb(00, 00, 00);
  font-size: 70px; 
}

/*Members benefit list */

#member-benefits {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 20px; 
}

#member-benefits-content {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
}

#member-benefits-content h3 {
  margin-right: 40px;
  text-align: right; 
}

#member-benefits-content ul {
  padding: 0; 
  margin: 0; 
  text-align: left; 
}

#member-benefits-content li {
  margin-bottom: 10px; 
  font-family: 'Quicksand', sans-serif; 
  color: white; 
}

/* Members images*/

#member-images {
  display: flex; 
  justify-content: center; 
  align-items: stretch;  
  padding: 20px;  
}

.members-image-container {
  flex: 1;                    
  margin: 0 10px;
  position: relative;
  overflow: hidden; 
}

.members-image-container h3 {
  position: absolute;
  bottom: 50px;  
  left: 50px; 
  margin: 0;     
  color: black;  
  font-size: 40px;         
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 5px; 
}

.members-image-container img {
  width: 100%;   
  height: 100%;              
  object-fit: cover;        
}

/*Members amenities*/

#members-amenities {
  display: flex;                  
  justify-content: center;        
  align-items: flex-start;        
  width: 100%;                    
}

.members-amenities-images {
  flex: 1;                        
  margin: 10px;                  
  text-align: center;            
}

.members-amenities-images img {
  max-width: 100%;               
  height: auto;                  
}

.members-amenities-images h3 {
  margin-top: 10px;              
}

.members-amenities-images p {
  margin-top: 5px;         
  letter-spacing: 0px;  
}

/* contact us page */

#contact-hero {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#contact-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
}

#contact-hero-content {
  position: absolute;
  bottom: 50px; 
  left: 50px;  
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 20px;
}

#contact-hero-content h2 {
  margin: 0; 
  font-family: 'Roboto', sans-serif; 
  color: rgb(00, 00, 00);
  font-size: 70px; 
}

/* Contact form content */

.contactform {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Space out the divs */
  margin: 40px; /* Add some margin */
}

.contactform > div {
  flex: 1; /* Allow divs to grow equally */
  margin: 10px; /* Add space between divs */
  padding: 20px; /* Add padding inside the divs */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  color: white; /* White text color */
}

.contactform > div:first-child {
  text-align: center; /* Center text */
}

.contactform > div:last-child {
  display: flex; /* Use flexbox for form alignment */
  flex-direction: column; /* Arrange elements in a column */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.contactform h3 {
  margin-bottom: 20px; /* Space below the heading */
  font-size: 50px; /* Increase heading size */
}

.contactform p {
  font-size: 30px;
  letter-spacing: 0;
  margin-bottom: 20px; /* Space below the paragraph */
}

.contactform label {
  font-weight: bold; /* Make label text bold */
  margin: 10px 0 5px; /* Spacing above and below labels */
}

.contactform input, 
.contactform textarea {
  width: 100%; /* Full width */
  max-width: 400px; /* Limit width for better appearance */
  padding: 10px; /* Padding for inputs */
  margin-bottom: 20px; /* Space below inputs */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for inputs */
  font-size: 20px; /* Font size */
 }

.contactform input[type="submit"] {
  background-color: #E1BF01; /* Green background */
  color: white; /* White text */
  border: none; /* No border */
  padding: 10px 20px; /* Padding for button */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  font-size: 1em; /* Font size */
 }